<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.pauly.old">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.network" />

    <application
        android:name=".old.dependencyinjection.PetApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ac010aedbee817b616dbe116799e2eb3b2e30599" />

        <activity android:name=".old.shared.LauncherActivity"
            android:theme="@style/LauncherTheme"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".old.shared.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".old.discover.AnimalDetailsActivity"
            android:parentActivityName=".old.shared.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.discover.FilterActivity"
            android:parentActivityName=".old.shared.MainActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>